body {
    position: relative;
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg, #1FA2FF 0%, #12D8FA 50%, #A6FFCB 100%);
    min-height: 100vh;
}

.contenedor {
    /* width: 100%; */
    
    /* position: relative; */
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.textContainer {
    margin-top: 60px;
    max-width: 600px;
    width: 50%;
}
.wave {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: none;
}

.logo {
    position: fixed;
    bottom: 20px;
    right: 80px;
    width: 6%;
    display: none;
}
.boton {
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 6px;
padding: 8px 10px;
animation: botonGrow ease-in 1s infinite alternate;
text-decoration: none;
transition: ease;
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 19px;
line-height: 26px;
/* identical to box height */


color: #1EA3FF;

}





.titulo {
    margin-bottom: 0;
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 54px;
line-height: 75px;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tituloForm {
    margin-top: 3px;
    font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 35px;

color: #000000;
}

.subtitulo {
    margin-top: 3px;
    font-family: Raleway;
font-style: normal;
font-weight: 300;
font-size: 26px;
line-height: 35px;

color: #000000;


}

.descripcion {
    font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;

color: #000000;
}

.imgContainer {
    margin-top: 90px;
}

.pregunta {
    font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 35px;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.countDown {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.simply-section {
    width: 180px;
    height: 90px;
    margin: 0 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.simply-amount {
    display: block;
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 64px;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.simply-word {
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 22px;

color: #000000;
text-align: center;
padding: 0 auto;
}

.logoStoreContainer {
    margin-top: 5%;
    display: flex;
    justify-content: flex-end;
    margin-right: 4%;
}

.logoStoreContainer img {
    margin: 0 1%;
    width: 3%;
}

.checkbox {
   margin-left: 1em;
}


#ilustracion {
    animation: ilustrationAnimate ease-in 1s infinite alternate;
    width: 90%;
}

@keyframes ilustrationAnimate {
    0%{
        transform: scale(1);
    }100%{
        transform: scale(1.05);
    }
}

@keyframes botonGrow {
    0%{
        transform: scale(1);
    }100%{
        transform: scale(1.05);
    }
}

@media screen and (max-width: 500px) {
    .contenedor{
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
    .textContainer {
        width: 100%;
        margin-top: 25px;
    }
    .simply-amount {
        font-size: 35px;
        line-height: 48px;
    }
    .simply-section {
        width: 70px;
        height: 35px;
        margin: 40px 8px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .simply-word {
        font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    
    color: #000000;
    text-align: center;
    padding: 0 auto;
    }

    .imgContainer {
        margin-top: 30px;
    }
    .logoStoreContainer {
        margin-top: 5%;
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: space-between;
        margin-right: 4%;
    }
    
    .logoStoreContainer img {
        margin: 0 3%;
        width: 14%;
        color: #fff;
        display: flex;
        justify-content: flex-end;

    }
    .icono {
        font-size: 40px;
        color: #fff;
    }
    .download {
        background: #000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 8px 10px;
    animation: botonGrow ease-in 1s infinite alternate;
    text-decoration: none;
    transition: ease;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 26px;
    /* identical to box height */
    
    
    color: #fff;
    
    }
    
    .download:hover {
        background: #A6FFCB;
    color: #000;
    transition: ease;
    }
   
}

